*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}
.texto a{
    color:black;
    text-decoration: none;
}
.Home{
    margin: auto;
    margin-top: 65px;
    background-color: white;
    color: grey;
    font-size: 15px;
}
.Flecha{
    margin: auto;
    margin-top: 65px;
    background-color: white;
    color: grey;
    font-size: 10px;
    display: inline-block;
    justify-content: space-between;
}

.nav{
    margin: auto;
}
.contenedor1{
    background-color: #F8F9F9;
    width: 330px;
    padding: 8px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor1 p{
    line-height: 2px;
}

.contenedor_img {
    width: 95px;
}
.contenedor_img img{
    width: 90%;
}

.contenedor_descripcion{
    width: 60%;
}

.texto{
    font-size: 10px;
    font-weight: bold;
}

.precio{
    font-size: 7px;
}

.desc{
    font-size: 10px;
    font-weight: bold;
    color: red;
}

.contenedor_cancelar i{
    font-size: 25px;
    color: black;
}

.color{
    font-size: 10px;
    font-weight: bold;
}

.talla{
    font-size: 10px;
    font-weight: bold;
}

.contenedor_cantidad p{
    font-size: 10px;
    font-weight: bold;
}

.contenedor_cantidad span{
    width: 8px;
    font-size: 8px;
    align-items: center;
}

.contenedor_cantidad input{
    font-size: 8px;
    align-items: center;
    width: 40px;
    height: 1.5rem;
    margin-left: 0;
}


.contenedor_cantidad button{
    font-size: 8px;
    align-items: center;
    height: 1.5rem;
    margin-left: 0;
}

.contenedor2{
    background-color: #F8F9F9;
    width: 330px;
    padding: 8px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;   
    display: flex; 
    justify-content: space-between;
}

.resumen{
    font-size: 9px;
    font-weight: bold;
    line-height:0;
}

.articulos{
    font-size: 8px;
    line-height:0;
}

.total{
    font-size: 9px;
    font-weight: bold;
}

.pesos{
    font-size: 11px;
    font-weight: bold;
    color: red;
    line-height:0;
}

.proceder button{
    margin: auto;
    width: 90px;
    height: 35px;
    font-size: 9px;
    background-color: black;
    color: white;
    border: 0;
}

.seguir button{
    margin: auto;
    margin-top: 10px;
    width: 90px;
    height: 35px;
    font-size: 9px;
    background-color: grey;
    color: white;
    border: 0;
}
h1 {
    text-align: center;
    font-size: 18px;
}


@media (min-width: 767px) {

    main {
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }
    .contenedor_main {
        max-width: 1300px;
        width: 100%;
    }

    .Home{
        margin: auto;
        margin-top: 65px;
        background-color: white;
        color: grey;
        font-size: 25px;
    }
    .Flecha{
        margin: auto;
        margin-top: 70px;
        background-color: white;
        color: grey;
        font-size: 15px;
        display: inline-block;
    }
    
    .nav{
        margin: auto;
    }

    h1 {
        font-size: 24px;
    }
    
    .contenedor_carrito_completo {
        display: flex;
    }

    .contenedor_carrito{
        width: 70%;
    }

    .contenedor1{
        background-color: #F8F9F9;
        width: 100%;
        height: 150px;
        padding: 8,16px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 18px;
    }
    
    .contenedor_img img{
        width: 130px;
        height: 118px;
    }
    
    .texto{
        font-size: 14px;
    }
    
    .precio{
        font-size: 9px;
    }
    
    .desc{
        font-size: 14px;
    }

    .contenedor_detalles{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contenedor_cancelar {
        text-align: center;
        width: 10%;
    }
    
    .contenedor_cancelar i{
        font-size: 25px;
    }
    
    .color{
        font-size: 14px;
    }
    
    .talla{
        font-size: 14px;
    }
    
    .contenedor_cantidad p{
        font-size: 14px;
        font-weight: bold;
    }
    
    .contenedor_cantidad span{
        width: 12px;
        font-size: 12px;
    }
    
    .contenedor_cantidad input{
        font-size: 12px;
    }
    
    .contenedor_cantidad button{
        font-size: 8px;
        align-items: center;
    }
    
    .contenedor2{
        background-color: #F8F9F9;
        width: 25%;
        padding: 16px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        
    }
    
    .resumen{
        font-size: 14px;
        line-height:normal;
    }
    
    
    .articulos{
        font-size: 13px;        
        line-height: normal;        
    }
    
    .total{
        font-size: 15px;
        font-weight: bold;
    }
    
    .pesos{
        font-size: 14px;
        font-weight: bold;
        color: red;
        line-height: normal;
    }
    
    .proceder button{
        margin: auto;
        height: 35px;
        font-size: 16px;
        background-color: black;
        color: white;
        width: 100%;
    }
    
    .seguir button{
        margin: auto;
        margin-top: 10px;
        height: 35px;
        width: 100%;
        font-size: 16px;
        background-color: grey;
        color: white;
    }
    
}