footer {
    background-color: #D9E8F5;
    padding: 16px;
}

.footer {
    position: relative;
    top: 60px;
    width: 100%;
}

.footer_seccion {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.footer_seccion > p {
    font-weight: 500;
}

.copyright {
    padding-top: 8px;
    font-size: 12px;
}

.detalles_ocultos {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    display: none;
}
.detalles_ocultos ul{
    list-style-type: none;
    font-size: 14px;
}
.detalles_ocultos li {
    margin-top: 8px;
}

.detalles_ocultos a {
    text-decoration: none;
    color: black;
    transition: all 300ms;
}

.detalles_ocultos a:hover {
    color: #304269;
    font-size: 17px;
}

.detalles_ocultos a:active {
    color: red;
}

input[type="checkbox"]:checked + .detalles_ocultos{
    display: flex;
}

.footer_contacto {
    flex-direction: column;
    padding: 0 8px 8px;
    font-size: 14px;
}

.footer_contacto *{
    margin-top: 8px;
}

.footer_contacto input {
    border: 0px;
    background-color: #ccc;
    color: black;
    width: 100%;
    height: 2rem;
    padding: 0 8px;
}

.footer_contacto button {
    border: 0;
    background-color: black;
    color: white;
    height: 2rem;
    font-weight: 500;
    width: 49%;
}

#contact_mensaje {
    width: 100%;
    height: 80px;
}

#contact_email {
    background-color: white;
}

#reset-submit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#reset-submit button {
    transition: all 300ms;
}
#reset-submit button:hover {
    background-color: #304269;
    transform: scale(1.1);
}

textarea::placeholder {
    color: rgba(0,0,0,0.5);
}

.social_media {
    padding-right: 8px;
}

.social_media img {
    width: 1.5rem;
    margin-right: 8px;
}

.social_media a:hover {
    color: #304269;
    /* background-color: #91BED4; */
}

.social_media a:active {
    color: red;
}

footer p {
    text-align: center;
}

@media (min-width:785px) {
    footer {
        padding: 2rem 2rem 1rem 2rem;
    }
    .contenedor_footer {
        display: flex;
        justify-content: space-between;
    }
    .footer_seccion, .detalles_ocultos {
        border: 0;
    }
    .footer_contacto {
        width: 30vw;
    }
    .footer_contacto button {
        width: 100%;
    }
    .footer_seccion label {
        display: none;
    }
    .detalles_ocultos {
        display: block;
    }
    .footer_contacto button {
        font-weight: 500;
        width: 48%;
    }

    .social_media {
        flex-direction: column;
    }
    .social_media img {
        margin-top: 1rem;
        width: 2rem;
    }
}