
.header-contenedor {
    position: fixed;
    width: 100vw;
    background-color: #D9E8F5;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#logo-header {
    height: 40px;
    margin-left: 8px;
}

.contenedor-logo {
    padding: 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

.contenedor-buttons {
    padding: 8px;
    display: flex;
    align-items: center;
    
}

.contenedor-buttons span {
    margin-right: 8px;
}

.contenedor_menu {
    position: fixed;
    margin-top: 60px;
    background-color: white;
    padding: 8px;
    width: 100%;
    height: calc(100vh - 60px);
    display: none;
}

.close_button {
    text-align: center;
    padding: 8px;
    width: 100%;
}

.contenedor_menu li {
    border-bottom: 1px solid #D9E8F5;
    padding: 16px 0 16px 0;
}

.contenedor_menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

input[type="checkbox"]:checked + .contenedor_menu{
    display: flex;
    flex-direction: column;
}


@media (min-width: 767px) {
    
    header {
        position: fixed;
        width: 100vw;
        background-color: #D9E8F5;
    }
    .header-contenedor {
        position: static;
        margin: auto;
        max-width: 1400px;
    }
    .contenedor-buttons span {
        margin-right: 1rem;
    }

    .contenedor_menu {
        background-color: transparent;
        display: inline-flex;
        height: inherit;
        position: relative;
        padding: 8px;
        margin-top: 0;
    }
    .contenedor-logo label, .contenedor_menu label  {
        display: none;
    }
    .contenedor_menu li {
        list-style-type: none;
        border: 0;
        margin-left: 1rem;
        padding: 0;
     
    }
    .navbar_menu{
        display: flex;
        align-items: center;
    }
}