* {
    box-sizing: border-box;
    font-family: roboto;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    z-index: 100;
}
.cuerpo {
    margin-top: 60px;
}
.carrusel-grande img{
    margin-bottom: 15px;
    width: 100%;
    height: 25vh;
    position: sticky;
    z-index: 0;
}

.titulos-carrusel {
    text-align: center;
    margin-top: 30px;
}
.cassusel-pequeño {
    display:flex;
    justify-content: space-between;
    padding: 1.5vw;
}
.producto-en-carrusel img {
    width: 30vw;
    height: 10rem;
}
.producto-en-carrusel p {
    max-width: 28vw;
}
.precio-producto-carrusel {
    font-weight: bold;
}
.nombre-producto-carrusel {
    font-size: 14px;
}
.producto-en-carrusel .nombre-producto-carrusel{
    bottom: 8vw;
}
.producto-en-carrusel{
    position: relative;
}
.marcar-producto-favorito {
    position: absolute;
    right: 10px;
    color: #304269;
}
.marcar-producto-favorito .material-icons-outlined {
    font-size: 28px;
}

.navegacion-carrusel {
    display: flex;
    justify-content: Center;
}
.navegacion-carrusel span {
    color: black;
}
.array-back-carrusel {
    margin-right: 30px;
}
.array-forward-carrusel {
    margin-left: 30px;
}
.punto-elemento-carrusel{
    margin: 0 5px;
}
.punto-elemento-carrusel .material-icons-outlined{
    font-size: 16px;
    position:relative;
    top: 3px;
}

.seccion-enfasis {
    width: 100%;
    height: 25vh;
    background-color: #91BEDB;
    margin-top: 15px;
    margin-bottom: 15px; 
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.seccion-enfasis img {
    height: 80%;
    position:absolute;
    top: 10%;
    left: 5%;
}
#titulo-enfasis {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 55%;
    max-height: 7.5%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#descripcion-enfasis {
    position: absolute;
    top: calc(15% + 26px);
    left: 40%;
    width: 55%;
    max-height: 20%;
    font-size: 12px;
    text-align: center;
}
.ver-mas-button {
    display: flex;
    align-items: center;
    position: absolute;
    width: 20%;
    height: 15%;
    top: 65%;
    left: 57%;
    justify-content: center;
    text-decoration: none;
    border: #304269 1px solid;
    background-color: white;
    color: #304269;
    transition: all 300ms;
}
.ver-mas-button:hover {
    background-color: #304269;
    transform: scale(1.2);
    color: white;
    border: white;
}


/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
@media (min-width:785px) {

    .carrusel-grande img{
        width: 100%;
        height: 60vh;
    }

    .carrusel-pequeño img{
        width: 100%;
        height: 60vh;
    }

    .seccion-enfasis {
        width: 100%;
        height: 60vh;
    }
    #titulo-enfasis {
        left: 42%;
        max-height: 12.5%;
        font-size: 25px;
    }
    #descripcion-enfasis {
        top: 30%;
        left: 45%;
        width: 52%;
        font-size: 15px;
    }
    .ver-mas-button {
        width: 20%;
        height: 15%;
        top: 60%;
        left: 60%;
    }
    .marcar-producto-favorito {
        top: 10px;
    }
    .producto-en-carrusel img {
        height: 20rem;
    }
}