* {
    box-sizing: border-box;
    font-family: roboto;
}


.cuerpo {
    position: relative;
    top: 60px;
    left: 0;
}
.carrusel-grande img{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 25vh;
}

.carrusel-pequeño img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 25vh;
}

.seccion-enfasis {
    width: 100%;
    height: 25vh;
    background-color: #91BEDB;
    margin-top: 15px;
    margin-bottom: 15px; 
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.seccion-enfasis img {
    height: 80%;
    position:absolute;
    top: 10%;
    left: 5%;
}
#titulo-enfasis {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 55%;
    max-height: 7.5%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#descripcion-enfasis {
    position: absolute;
    top: calc(15% + 26px);
    left: 40%;
    width: 55%;
    max-height: 20%;
    font-size: 12px;
    text-align: center;
}
.ver-mas-button {
    display: flex;
    align-items: center;
    position: absolute;
    width: 20%;
    height: 15%;
    top: 65%;
    left: 57%;
    justify-content: center;
    text-decoration: none;
    border: #304269 1px solid;
    background-color: white;
    color: #304269;
    transition: all 300ms;
}
.ver-mas-button:hover {
    background-color: #304269;
    transform: scale(1.2);
    color: white;
    border: white;
}


/* @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ */
@media (min-width:785px) {

    .carrusel-grande img{
        width: 100%;
        height: 60vh;
    }

    .carrusel-pequeño img{
        width: 100%;
        height: 60vh;
    }

    .seccion-enfasis {
        width: 100%;
        height: 60vh;
    }
    #titulo-enfasis {
        left: 42%;
        width: 60%;
        max-height: 12.5%;
        font-size: 24px;
    }
    #descripcion-enfasis {
        top: 30%;
        left: 45%;
        width: 52%;
        font-size: 15px;
    }
    .ver-mas-button {
        width: 20%;
        height: 15%;
        top: 60%;
        left: 60%;
    }

}