<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/error404Styles.css">
    <title>Error 404</title>
</head>
<body>
    <!--Header-->
    <%- include('./partials/header') %>

    <!--Body-->
    <div id="contenedor-principal">
        <img src='/images/Logo.png'>
        <h1 class="texto">SIN COINCIDENCIAS</h1>
        <h2 class="texto">Ups! No hemos encontrado ningun producto con los datos de búsqueda que ingresaste.</h2>
        <p class="texto">Por favor <a href="/products/busqueda">intenta con otros datos</a> o utiliza la barra de navegación para llegar a tu destino</p>
    </div>
    

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>