<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/busquedaStyles.css">
    <title>Search</title>
</head>
<body>
    <!--Header-->
    <%- include('./partials/header') %>

    <!--Body-->
    <div id="contenedor-body"><div id="contenedor-principal">
        <h1 class="title">Búsqueda de Productos</h1>
        <form action="/products/busqueda/buscar" method="get">
            <div class="seccion-busqueda">
                <input type="text" placeholder="Escribe las palabras clave" id="buscar" name="buscar" required>
                <button type="submit" id="submit">Buscar</button>
            </div>
            <h3>Elige en que sección te gustaría filtrar</h3>
            <div class="radio-buttons">
                <div class="radio-button">
                    <input type="radio" id="id" name="filtro" value="id">
                    <label for="id">Id</label>
                </div><br>
                <div class="radio-button">
                    <input type="radio" id="nombre" name="filtro" value="nombre">
                    <label for="nombre">Nombre</label>
                </div><br>
                <div class="radio-button">
                    <input type="radio" id="color" name="filtro" value="color" required>
                    <label for="color">Color</label>
                </div><br>
                <div class="radio-button">
                    <input type="radio" id="talla" name="filtro" value="talla">
                    <label for="talla">Talla</label>
                </div><br>
            </div>
            <h3>¿En qué categoría quieres buscar?</h3>
            <div class="radio-buttons">
                <div class="radio-button">
                    <input type="radio" id="hombres" name="tipo" value="hombres">
                    <label for="hombres">Hombres</label>
                </div><br>
                <div class="radio-button">
                    <input type="radio" id="mujeres" name="tipo" value="mujeres">
                    <label for="mujeres">Mujeres</label>
                </div><br>
                <div class="radio-button">
                    <input type="radio" id="hotsale" name="tipo" value="hotsale">
                    <label for="hotsale">Hot Sale</label>
                </div><br>
                <div class="radio-button">
                    <input type="radio" id="promociones" name="tipo" value="enOferta">
                    <label for="promociones">Promociones</label>
                </div><br>
            </div>
        </form>
    </div> </div>
    
    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>