<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAStyle Carrito De Compras</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    <link rel="stylesheet" href="/css/carrito-styles.css">
    <script src="https://kit.fontawesome.com/f226d612e4.js" crossorigin="anonymous"></script>

</head>
<body>
    <!--Header-->
    <header>
        <div class="header-contenedor">
            
            <div class="contenedor-logo">
                <label for="show-nav">
                    <span id="span_show" class="material-icons-outlined">menu</span>
                </label>
                
                <img id="logo-header" src="./images/Logo_sin_fondo.png" alt="logo">
            </div>
            
            <input type="checkbox" id="show-nav" hidden>
            <div class="contenedor_menu">
                <ul class="navbar_menu">
                    <li><a href="">Hot Sale</a></li>
                    <li><a href="">Hombres</a></li>
                    <li><a href="">Mujeres</a></li>
                    <li><a href="">Promociones</a></li>
                </ul>
                <label for="show-nav" class="close_button">
                    <span id="span_hide" class="material-icons-outlined">close</span>
                </label>
            </div>

            <div class="contenedor-buttons">
                <a href="#"><span class="material-icons">search</span></a>
                <a href="#"><span class="material-icons">account_circle</span></a>
                <a href="#"><span class="material-icons-outlined">favorite_border</span></a>
                <a href="#"><span class="material-icons-outlined">shopping_bag</span></a>
            </div>
            
        </div>
        
    </header>
    <!--Carrito de Compras-->
    <main>
        <div class="contenedor_main">
            <div class="nav">
                <a href="#" class="Home">
                    <i class="fas fa-home"></i>
                </a>
                <a href="#" class="Flecha">
                    <i class="fas fa-chevron-right">Mi carrito de compras</i>
                </a>
            </div>
            <h1>MI CARRITO DE COMPRAS</h1>
            <div class="contenedor_carrito_completo">
                <div class="contenedor_carrito">
                    <div class="contenedor1">
                        <div class="contenedor_img">
                            <img src="images/blazer.jpg">
                        </div>
                        <div class="contenedor_descripcion">
                            <div class="texto">
                                <p>Blazer Dama. Blanco y Negro</p>
                            </div>
                            <div class="precio">
                                <p>MXN $350.00</p>
                                
                            </div>
                            <div class="desc">
                                <p>MXN $250.00</p>
                            </div>
                            <div class="contenedor_detalles">
                                <div class="color">
                                    <p>Color <i class="fas fa-circle"></i></p>
                                </div>
                                <div class="talla">
                                    <p>Talla M</p>
                                </div>
                                <div class="contenedor_cantidad">
                                    <p>Cantidad 
                                        <button> <span class="material-icons">remove</span> </button>
                                        <input type="number" value="1" min="1" step="1" name="cantidad" id="">
                                        <button><span class="material-icons">add</span></button>
                                    </p> 
                                </div>
                            </div>
                        </div>
                        <div class="contenedor_cancelar">
                            <i class="fas fa-window-close"></i>
                        </div>
                    </div>

                    <div class="contenedor1">
                        <div class="contenedor_img">
                            <img src="images/sudadera1.jpg">
                        </div>
                        <div class="contenedor_descripcion">
                            <div class="texto">
                                <p>Sudadera deportiva Reebok</p>
                            </div>
                            <div class="precio">
                                <p>MXN $150.00</p>
                                
                            </div>
                            <div class="desc">
                                <p>MXN $100.00</p>
                            </div>
                            <div class="contenedor_detalles">
                                <div class="color">
                                    <p>Color <i class="fas fa-circle"></i></p>
                                </div>
                                <div class="talla">
                                    <p>Talla G</p>
                                </div>
                                <div class="contenedor_cantidad">
                                    <p>Cantidad 
                                        <button><span class="material-icons">remove</span></button>
                                        <input type="number" value="1" min="1" step="1" name="cantidad" id="">
                                        <button><span class="material-icons">add</span></button>
                                    </p> 
                                </div>
                            </div>
                        </div>
                        <div class="contenedor_cancelar">
                            <i class="fas fa-window-close"></i>
                        </div>
                    </div>

                    <div class="contenedor1">
                        <div class="contenedor_img">
                            <img src="images/playera.jpg">
                        </div>
                        <div class="contenedor_descripcion">
                            <div class="texto">
                                <p>Playera juvenil caballero</p>
                            </div>
                            <div class="precio">
                                <p>MXN $180.00</p>
                            </div>
                            <div class="desc">
                                <p>MXN $150.00</p>
                            </div>
                            <div class="contenedor_detalles">
                                <div class="color">
                                    <p>Color <i class="fas fa-circle"></i></p>
                                </div>
                                <div class="talla">
                                    <p>Talla S</p>
                                </div>
                                <div class="contenedor_cantidad">
                                    <p>Cantidad 
                                        <button><span class="material-icons">remove</span></button>
                                        <input type="number" value="1" min="1" step="1" name="cantidad" id="">
                                        <button><span class="material-icons">add</span></button>
                                    </p> 
                                </div>
                            </div>
                        </div>
                        <div class="contenedor_cancelar">
                            <i class="fas fa-window-close"></i>
                        </div>
                    </div>

                </div>
                <div class="contenedor2">
                    <div class="subcontenedor2">
                        <div class="resumen"><h2>RESUMEN DEL PEDIDO</h2></div>
                        <div class="articulos"><h4>3 ARTÍCULOS EN MI BOLSA </h4></div>
                        <div class="total"><h2>TOTAL A PAGAR</h2></div>
                        <div class="pesos"><h3>MXN $600.00</h3></div>
                    </div>
                    <div class="subcontenedor3">
                        <div class="proceder"><button>PROCEDER A PAGAR</button></div>
                        <div class="seguir"><button>SEGUIR COMPRANDO</button></div>
                    </div> 
                </div>
            </div>
        </div>
            

    </main>
    <!--Footer-->
    <footer class="footer">
        <div class="contenedor_footer">
            <div>
                <div class="footer_seccion">
                    <p>RAStyle</p>
                    <label for="show_footer_section">
                        <span class="material-icons">add</span>
                    </label>
                </div>
                <input type="checkbox" id="show_footer_section" hidden>
                <div class="detalles_ocultos">
                    <ul>
                        <a href="#"><li>Acerca de nosotros</li></a>
                        <a href="#"><li>Política de privacidad</li></a>
                        <a href="#"><li>Programa de afiliados</li></a>
                    </ul>
                </div>
            </div>
            <div>
                <div class="footer_seccion">
                    <p >¿Necesitas ayuda?</p>
                    <label for="show_footer_section2">
                        <span class="material-icons">add</span>
                    </label>
                </div>
                <input type="checkbox" id="show_footer_section2" hidden>
                <div class="detalles_ocultos">
                    <ul>
                        <a href="#"><li>Información de envíos</li></a>
                        <a href="#"><li>¿Cómo compras?</li></a>
                        <a href="#"><li>Devoluciones</li></a>
                    </ul>
                </div>
            </div>
            <div>
                <div class="footer_seccion social_media">
                    <p >Redes Sociales</p>
                    <div>
                        <a href="#"><img src="images/facebook-icon.png" alt="link_facebook"></a>
                        <a href="#"><img src="images/twitter-icon.png" alt="link_twitter"></a>
                        <a href="#"><img src="images/instagram-icon.png" alt="link_instagram"></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="footer_seccion">
                    <p >Contáctanos</p>
                    <label for="show_footer_section3">
                        <span class="material-icons">add</span>
                    </label>
                </div>
                <input type="checkbox" id="show_footer_section3" hidden>
                <form class="detalles_ocultos footer_contacto" name="submit">
                    <div id="contactanos-superior">
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" id="contact_email" placeholder="luis.gonzalez@gmail.com" name="submit">
                        </div>
                    </div>
                    <div>
                        <textarea placeholder="Escribte tu mensaje..." id="contact_mensaje" name="submit" required> </textarea>
                    </div>
                    <div id="reset-submit">
                        <button type="submit" name="submit" class="button-contactanos">Enviar</button>
                        <button type="reset" name="submit" class="button-contactanos">Borrar</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="copyright">&copy; 2021 RAStyle.inc Todos los derechos reservados</p>
    </footer>
</body>
</html>