<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="./css/detalleComprasStyles.css" rel="stylesheet" type="text/css">
    <title>Detalles de producto</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Body -->
    <main>
        <div class="contenedor_main">
        <div class="ruta">
            <span class="material-icons-outlined">home</span>
            <span class="material-icons-outlined">navigate_next</span>
            Detalle de producto
            <span class="material-icons-outlined">navigate_next</span>
            Sudadera deportiva
        </div>
        <div class="contenedor_producto">
            <div class="carrusel_imagenes">
                <span class="material-icons-outlined">expand_less</span>
                <img class="image_carrusel" src="./images/sudadera1.jpg" alt="sudadera">
                <img class="image_carrusel" src="./images/sudadera1.jpg" alt="sudadera">
                <img class="image_carrusel" src="./images/sudadera1.jpg" alt="sudadera">
                <span class="material-icons-outlined">expand_more</span>
            </div>
            <div class="carrusel">
                <img class="image_carrusel" src="./images/sudadera1.jpg" alt="sudadera">
            </div>
            <div class="contenedor_datos">
                <div class="contenedor_titulo">
                    <h3 class="item_nombre">Sudadera deportiva Rebook</h3>
                    <span id="icon_encanta" class="material-icons-outlined">favorite_border</span>
                    <p class="item_precio">$100.00 MXN</p>
                </div>
                <div class="contenedor_color">
                    <p>Selecciona color </p>
                    <div>
                        <button name="color" class="item_color" style="background-color: red;"/>
                        <button name="color" class="item_color" style="background-color: blue;"/>
                        <button name="color" class="item_color" style="background-color: black;"/>
                        <button name="color" class="item_color" style="background-color: white;"/>
                    </div>
                </div>
                <div class="contenedor_talla">
                    <p>Selecciona tu talla </p>
                    <div>
                        <button class="item_talla">XS</button>
                        <button class="item_talla">S</button>
                        <button class="item_talla">M</button>
                        <button class="item_talla">G</button>
                        <button class="item_talla">XG</button>
                        <button class="guia_talla">Guía de tallas</button>
                    </div>
                    
                </div>
                <div class="contenedor_cantidad">
                    <p>Cantidad </p> 
                    <div class="input_cantidad">
                        <button>
                            <span class="material-icons">remove</span>
                        </button>
                        <input type="number" value="1" min="1" step="1" name="cantidad" id="">
                        <button>
                            <span class="material-icons">add</span>
                        </button>
                    </div>
                </div>
                <div class="contenedor_botones">
                    <button>Guía de tallas</button>
                    <button>Información del producto</button>
                </div>
                <button class="agregar_item">Agregar al carrito</button>
                
                <label for="mas_info">

                <div class="mas_detalles">
                    
                        <span class="material-icons">add</span>
                        <p>Información del producto</p>
                    
                </div>
            </label>
                <input type="checkbox" name="" id="mas_info" hidden>
                <div class="info_oculta">
                    <h3>Descripción </h3> 
                    <p>
                        Chamarra basica con estilo liso, bolsillos frontales y capucha ajustable con cordondes.
                    </p>
                    <h3> Composición + Cuidados </h3>
                    <p>Todos nuestros articulos estan fabricados con textiles y materiales sinteticos y naturales. 
                        Leer las indicaciones de cuidado que se encuentran en las etiquetas para garantizar su durabilidad. </p>
                    
                </div>

            </div>
        </div>
        </div>
    </main>
    
    <!-- Footer -->
    <%- include('./partials/footer') %>
    
</body>
</html>