<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/error404Styles.css">
    <title>Error 404</title>
</head>
<body>
    <!--Header-->
    <%- include('./partials/header') %>

    <!--Body-->
    <div id="contenedor-principal">
        <img src='/images/Logo.png'>
        <h1 class="texto">ERROR 404</h1>
        <h2 class="texto">Ups! El sitio al que estás tratando de acceder no se encuentra</h2>
        <p class="texto">Por favor verifica la dirección URL o utiliza la barra de navegación para llegar a tu destino</p>
    </div>
    

    <!--Footer-->
    <%- include('./partials/footer') %>
</body>
</html>