<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAStyle - Home</title>
    <script src="https://kit.fontawesome.com/16f32f9a34.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/stylesHome.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
</head>
<body>




    <header class="cabecera">
        <div class="navbar-logo-menu">
            <img src="images/menu-icon.svg" class="menu-icon">
            <img src="images/Logo_sin_fondo.png" class="logo-principal">
        </div>
        <div class="tool-icons">
            <img src="images/search-icon.svg" class="search-icon">
            <img src="images/login-icon.svg" class="login-icon">
            <img src="images/fav-icon.svg" class="fav-icon">
            <img src="images/bag-icon.svg" class="bag-icon">
        </div>
    </header>



    
    <section class="cuerpo">
        <div class="carrusel-grande">
            
        </div>
        <div>
            <div class="carrusel-pequeño">

            </div>
        </div>
        <div class="seccion-enfasis">

        </div>
        <div>
            <div class="carrusel-pequeño">

            </div>
        </div>
    </section>




    <footer class="pie-pagina">
        <ul class="titulos-footer">
            <li>
                <div>
                    <p id="encabezados-footer">R A S t y l e</p> <img src="images/plus-icon.png">
                </div>
                <div>
                    <ul>
                        <li><a href="#"><p>Acerca de nosotros</p></a></li>
                        <li><a href="#"><p>Política de privacidad</p></a></li>
                        <li><a href="#"><p>Programa de afiliados</p></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <p id="encabezados-footer">¿Necesitas ayuda?</p> <img src="images/plus-icon.png">
                </div>
                <div>
                    <ul>
                        <li><a href="#"><p>Información de envíos</p></a></li>
                        <li><a href="#"><p>¿Cómo comprar?</p></a></li>
                        <li><a href="#"><p>Devoluciones</p></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <p id="encabezados-footer">Contáctanos</p> <img src="images/plus-icon.png">
                </div>
                <section class="contactanos">
                    <div id="contactanos-superior">
                        <div>
                            <p>Email:  </p>
                            <input type="email" id="email-contactanos">
                        </div>
                        <div id="submit"><input type="submit"></div>
                    </div>
                    <div>
                        <input type="text" id="contactanos-texto">
                    </div>
                </section>
            </li>
            <li>
                <div>
                    <p id="encabezados-footer">Redes sociales</p> <img src="images/plus-icon.png">
                </div>
                <div>
                    <ul id="redes-sociales">
                        <li><a href="#"><img src="images/facebook-icon.png"></a></li>
                        <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="images/instagram-icon.png"></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </footer>



    
</body>
</html>