<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAStyle Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/f226d612e4.js" crossorigin="anonymous"></script>

</head>
<body>
        <!--Formulario-->
        <form action="/RAStyle" method="POST" class="create-form-login">
            <div class="login-container">
                <div class="login-info">
                  <h1 class="title">Inicia Sesión</h1>
                  <div class="login-red-social">
                      <div class="login-goo-fa">
                          <img src="images/google.png">
                          <span>Inicia Sesión con Google</span>
                      </div>
                      <div class="login-goo-fa">
                        <i class="fab fa-facebook-square"></i>
                          <span>Inicia Sesión con Facebook</span>
                      </div>
                  </div>
                  <p class="o">o</p>
                  <form class="inputs-container">
                      <input class="input" type="text" placeholder="example@mail.com">
                      <input class="input" type="password" placeholder="********">
                      <button class="btn">login</button>
                      <span class="span">¿Olvidaste tu contraseña?</span>
                      
                      <p>¿Eres nuevo en RAStyle? <span class="span">Registrate</span></p>
                  </form>
                </div>
            </div>
      </body>
      </html>
        </form>
</body>
</html>