@import url(header_styles.css);
@import url(footer_style.css);

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100px;
    font-family: roboto;
}

.login-info{
padding: 15px;
margin-bottom: 1px black;
}

.login-container{
    border: solid black;
    margin-top: 65px;
}

.title{
    font-size: 25px;
    text-align: center;
}

.contenedor{
top: 65px;
}

.login-goo-fa{
    width: 300px;
    height: 50px;
    background-color: #dfd9d9;
    border: none;
    font-size: 15px;
    color: black;
    border-radius: 5px;
    display: flex;  
    margin: 15px;
    align-items: center;
    padding-left: 16px;
}

.login-goo-fa p{
    width: 100%;
}

.login-goo-fa img{
    width: 25px;
    height: 25px;

}


.contenedor-o{
    width: 15px;
    height: 15px;
    background-color:  white;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 270px;
}

.btn{
    background-color: #000;
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px 50px;
    border-radius: 5px;
    }

    input {
        height: 2rem;
        padding: 0 8px;
    }
    .contenedor_email, .contenedor_password {
        margin: 25px;
        margin-top: 1rem;
    }
    .contenedor_email *, .contenedor_password *{
        width: 100%;
    }
    .contenedor_button {
        padding-top: 1rem;
        text-align: center;
    }
    .contenedor_button button {
        width: 50%;
        height: 2rem;
        background-color: black;
        color: white;
        font-weight: 400;
        border: 0;
        border-radius: 8px;
    }
    
    .contenedor_button > p{
        margin-top: 8px;
        font-size: 12px;
    }
    .contenedor_button a {
        color: black;
        font-weight: bold;

    }

    @media (min-width: 767px) {
        .contenedor {
            padding: 4rem 2rem;
            min-height: auto;
           
        }
        main {
            min-height: 500px;
            padding-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .contenedor-o{
            width: 15px;
            height: 15px;
            background-color:  white;
            text-align: center;
            position: absolute;
            right: 50%;
            top: 400px;
        }
        
    }