<footer class="footer">
    <div class="contenedor_footer">
        <div>
            <div class="footer_seccion">
                <p>RAStyle</p>
                <label for="show_footer_section">
                    <span class="material-icons">add</span>
                </label>
            </div>
            <input type="checkbox" id="show_footer_section" hidden>
            <div class="detalles_ocultos">
                <ul>
                    <a href="#"><li>Acerca de nosotros</li></a>
                    <a href="#"><li>Política de privacidad</li></a>
                    <a href="#"><li>Programa de afiliados</li></a>
                </ul>
            </div>
        </div>
        <div>
            <div class="footer_seccion">
                <p >¿Necesitas ayuda?</p>
                <label for="show_footer_section2">
                    <span class="material-icons">add</span>
                </label>
            </div>
            <input type="checkbox" id="show_footer_section2" hidden>
            <div class="detalles_ocultos">
                <ul>
                    <a href="#"><li>Información de envíos</li></a>
                    <a href="#"><li>¿Cómo compras?</li></a>
                    <a href="#"><li>Devoluciones</li></a>
                </ul>
            </div>
        </div>
        <div>
            <div class="footer_seccion social_media">
                <p >Redes Sociales</p>
                <div>
                    <a href="http://www.facebook.com" target="_blank"><img src="/images/facebook-icon.png" alt="link_facebook"></a>
                    <a href="http://www.twitter.com" target="_blank"><img src="/images/twitter-icon.png" alt="link_twitter"></a>
                    <a href="http://www.instagram.com" target="_blank"><img src="/images/instagram-icon.png" alt="link_instagram"></a>
                </div>
            </div>
        </div>
        <div>
            <div class="footer_seccion">
                <p >Contáctanos</p>
                <label for="show_footer_section3">
                    <span class="material-icons">add</span>
                </label>
            </div>
            <input type="checkbox" id="show_footer_section3" hidden>
            <form class="detalles_ocultos footer_contacto" name="submit">
                <div id="contactanos-superior">
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="contact_email" placeholder="luis.gonzalez@gmail.com" name="submit">
                    </div>
                </div>
                <div>
                    <textarea placeholder="Escribte tu mensaje..." id="contact_mensaje" name="submit" required> </textarea>
                </div>
                <div id="reset-submit">
                    <button type="submit" name="submit" class="button-contactanos">Enviar</button>
                    <button type="reset" name="submit" class="button-contactanos">Borrar</button>
                </div>
            </form>
        </div>
    </div>
    <p class="copyright">&copy; 2021 RAStyle.inc Todos los derechos reservados</p>
</footer>