<header>
    <div class="header-contenedor">
        <a href="/"><div class="contenedor-logo">
            <label for="show-nav">
                <span id="span_show" class="material-icons-outlined">menu</span>
            </label>
            <img id="logo-header" src="/images/Logo_sin_fondo.png" alt="logo">
        </div></a>
        
        <input type="checkbox" id="show-nav" hidden>
        <div class="contenedor_menu">
            <ul class="navbar_menu">
                <li><a href="/coleccion/playeras">Hot Sale</a></li>
                <li><a href="/coleccion/playeras">Hombres</a></li>
                <li><a href="/coleccion/playeras">Mujeres</a></li>
                <li><a href="/coleccion/playeras">Promociones</a></li>
            </ul>
            <label for="show-nav" class="close_button">
                <span id="span_hide" class="material-icons-outlined">close</span>
            </label>
        </div>

        <div class="contenedor-buttons">
            <a href="/coleccion/busqueda"><span class="material-icons">search</span></a>
            <a href="/login"><span class="material-icons">account_circle</span></a>
            <a href="#"><span class="material-icons-outlined">favorite_border</span></a>
            <a href="/carrito"><span class="material-icons-outlined">shopping_bag</span></a>
        </div>
        
    </div>
    
</header>