<a href="#" class="array-back-carrusel"><span class="material-icons-outlined">arrow_back_ios</span></a>
<a href="#" class="punto-elemento-carrusel"><span class="material-icons-outlined">adjust</span></a>
<a href="#" class="punto-elemento-carrusel"><span class="material-icons-outlined">adjust</span></a>
<a href="#" class="punto-elemento-carrusel"><span class="material-icons-outlined">adjust</span></a>
<a href="#" class="array-forward-carrusel"><span class="material-icons-outlined">arrow_forward_ios</span></a>